@(items: Seq[Item], form: Form[ItemData])(implicit messages: Messages, flash: Flash)

@display(item: Item, index: Int) = {
    @item.name <br/>
    <img style="width: 20vw" src="@item.picture")><br/>
    <a href="@routes.ItemManagementController.editItem(index)">edit</a>
}


@main("Items") {

    <h1>@if(items.isEmpty) { No items } else { Items }</h1>
    <ul>
        @for((item, index) <- items.zipWithIndex) {
            <li>@display(item, index)</li>
        }
    </ul>

    <hr/>

    @helper.form(action = routes.ItemManagementController.createItem(), 'enctype -> "multipart/form-data") {
        <input type="hidden" name="index" value="0"/>

        @helper.inputText(form("name"))
        @helper.inputText(form("description"))
        @helper.inputText(form("manufacturer"))
        @helper.inputText(form("warranty"))
        @helper.inputText(form("price"))
        @helper.inputText(form("discount.howManyItems"))
        @helper.inputText(form("discount.percentageOff"))
        @helper.inputText(form("seller"))
        @helper.inputFile(form("picture"))
        <button type="submit">create item</button>

    }
}