@(items: Seq[ItemData], form: Form[ItemData])(implicit messages: Messages, flash: Flash)

@display(item: ItemData, index: Int) = {
    @item.name <br/>
    @image(item)
    <a href="@routes.ItemManagementController.findByIndex(index)">edit</a>
}

@image(item: ItemData) = {
    @if(item.picture.nonEmpty && item.picture.get.replaceFirst("/assets/images/","").nonEmpty) {
        <img style="width: 20vw" src="@item.picture")><br/>
    }
}

@main("Items") {

    <h1>@if(items.isEmpty) { No items } else { Items }</h1>
    <ul>
        @for((item, index) <- items.zipWithIndex) {
            <li>@display(item, index)</li>
        }
    </ul>

    <hr/>

    @helper.form(action = routes.ItemManagementController.createItem(), 'enctype -> "multipart/form-data") {
        <input type="hidden" name="index" value="@form.data.getOrElse("index", items.size)"/>
        @helper.inputText(form("name"))
        @helper.inputText(form("description"))
        @helper.inputText(form("manufacturer"))
        @helper.inputText(form("warranty"))
        @helper.inputText(form("price"))
        @helper.inputText(form("discount.howManyItems"))
        @helper.inputText(form("discount.percentageOff"))
        @helper.inputText(form("seller"))
        @helper.inputFile(form("picture"))
        <button type="submit" name="action" value="save">save</button>
        <button type="submit" name="action" value="delete">delete</button>
    }

}